:root {
  --black: #070707f5;
  --white: #f5e6e6;
  --headcolor: #fff;
  --brandcolor: #f8d7db;
  --brandcolor2: #f8c3bf;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headcolor);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--white);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--brandcolor);
}

img {
  width: 100%;
}

.text-brand {
  color: var(--brandcolor2);
}

.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #ffffffc8;
}

/* nav bar */

.navbar .nav-link {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.navbar .nav-link:hover {
  color: var(--brandcolor);
}

@media (min-width: 992px) {
  .navbar {
    min-height: 100vh;
    width: 240px;
    background: linear-gradient(hsla(0, 2%, 10%, 0.5), hsla(0, 3%, 8%, 0.668)),
      url(../images/hero1.jpg);
    background-size: cover;
    background-position: center;
  }
}

/* content wrapper */
#content-wrapper {
  display: none;
  padding-left: 240px;
}

/* the button */
.btn {
  padding: 12px 28px;
  font-weight: 700;
}

/* coming back here to figure out the btn hover color */
.btn-brand {
  background-color: var(--brandcolor);
  border-color: var(--brandcolor2);
}

.btn-brand:hover,
.btn-brand:focus {
  background-color: var(--brandcolor2);
  color: var(--black);
}

.link-custom {
  font-weight: 700;
  position: relative;
}

.link-custom::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--brandcolor2);
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.4s;
}

.link-custom:hover::after {
  width: 100%;
}

/* serrvvices */
.image_style img {
  width: 150px;
}

/* contact section */
#contact .form-control {
  background-color: #f5c4ca;
  border-color: #f5c4ca;
  color: #030303;
}

#contact input.form-control {
  height: 44px;
}

/* social icon  */

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brandcolor2);
  border-radius: 100px;
  font-size: 24px;
  color: #030303;
}
