:root {
  --black: #0d0d0df5;
  --white: #f5e6e6;
  --headcolor: #fff;
  --brandcolor: #f8d7db;
  --brandcolor2: #f8c3bf;
}

.text-brandcolor {
  color: var(--brandcolor);
}

.bg-brandcolor {
  background-color: var(--brandcolor);
}

.bg-brandcolor2 {
  background-color: var(--brandcolor2);
}

.primary-btn {
  background-color: var(--brandcolor);
}

.primary-btn:hover {
  background-color: var(--brandcolor2);
  font-weight: 700;
}

.border-brandcolor2 {
  border-color: var(--brandcolor2);
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: sans-serif;
  max-width: 1920px;
  margin: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
